// colors
$primary = #2c3e50
$secondary = #1d6042
$success = #198754
$info =  #0dcaf0
$warning = #ffc107
$danger =  #dc3545
$light = #f8f9fa
$dark =  #343a40

// fonts
$font-size = 14px
$font-stack = Arial, sans-serif

html, body
  color: $light
  background: $success
  font-size: $font-size
  font-family: $font-stack
  padding: 0
  margin: 0
  box-sizing: border-box

.d-flex
  display: flex

.container
  margin: 30px auto
  padding-left: 15px
  padding-right: 15px
